/* Global styles for the body */
body {
    margin: 20px 10vh;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../assets/img-app-background.jpg);
    object-fit: cover;
    background-size: cover; 
}