@use 'variables';

/* Footer content layout and styling */
.footer-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    text-align: center; 
    padding: 1em 0; 
    margin: 20px 10vh;
}

/* Footer text styling */
.footer-content p {
    margin: 10px 0; /* Space around text */
    font-size: 0.7rem;
    font-style: bold;
    line-height: 10px;
    font-family: variables.$fourth-font;
    color: variables.$primary-color;
}
