@use "variables";

.container {
    flex: 1;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 columns in the grid */
    grid-template-rows: repeat(4, auto); /* 3 rows in the grid */
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin: 10vh auto 2vh; /* Centers the grid container horizontally */
    width: 60%;
    max-width: 1476px;
    justify-items: center;
}

.pokemon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 60vh;
    min-height: 40vh;
    overflow: hidden;
    gap: 20px;
    background-color: variables.$primary-color;
    width: 60%;
    padding: 20px;
    border: 2px solid variables.$primary-border-color;
    border-width: 20px;
    border-style: double;
}
.img-logo,
.img-container {
    object-fit: cover;
}
.img-logo {
    width: 30%;
    height: 12vh;
    background-size: cover;
}

.img-container {
    width: 20vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.help-info,
.p-info,
.primary-title,
.p-error-msg {
    font-family: variables.$fourth-font;
}
.help-info {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    white-space: pre-wrap;

    &.help-info a:hover {
        color: variables.$quaternary-color;
    }

    &.help-info a:link {
        text-decoration: none;
        color: variables.$quaternary-color;
    }
}

.p-info {
    display: flex;
    white-space: pre-wrap;
    font-size: 1.3rem;
    line-height: 2.4rem;
    font-weight: bold;
}

.p-error-msg {
    font-size: 1.5rem;
    color: variables.$tertiary-color;
}

.primary-title {
    font-size: 2rem;
    color: variables.$primary-color;
}

.search-box {
    background-color: variables.$primary-color;
    height: 4.1rem;
    padding: 3px;
    border: 5px solid variables.$primary-border-color;
}

.input-style {
    width: 29vw;
    height: 4rem;
    padding: 0.8rem;
    border: none;
    border-radius: 0.2rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-family: variables.$fourth-font;
}

.input-style:focus {
    outline: none;
    border: none;
}

.input-style:focus::placeholder {
    color: transparent;
}

.btn-search {
    width: 10rem;
    height: 3.94rem;
    font-family: variables.$fourth-font;
    background: variables.$quaternary-color;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.btn-search:hover {
    transform: translateX(-2px) scale(1.06);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

/* Desktop styles: large screens (min-width: 3000px) */
@media screen and (min-width: 3000px) {
    .pokemon-container {
        display: flex;
        width: 85%;
        padding: 10px;
    }
    .img-container {
        width: 20vw;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .p-info {
        display: flex;
        white-space: pre-wrap;
        font-size: 2.3rem;
        line-height: 4rem;
        font-weight: bold;
    }
}

/* Tablet styles: medium screens (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        padding: 10px;
        margin: 10px auto;
        width: 100%;
    }

    .pokemon-container {
        display: flex;
        width: 75%;
        height: 50%;
        padding: 12px;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 50%;
        height: 80vh;
    }

    .primary-title {
        font-size: 1.25rem;
    }

    .img-logo {
        width: 60%;
        height: 16vh;
    }

    .search-box {
        width: 85%;
        height: 4rem;
        font-size: 0.9rem;
    }

    .input-style {
        width: 70%;
        height: 2.8rem;
        font-size: 1.1rem;
    }

    .btn-search {
        width: 30%;
        font-size: 0.7rem;
    }
    .btn-search:hover {
        transform: none;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    }
}

/* Mobile styles: small screens (max-width: 767px) */
@media screen and (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        padding: 10px;
        margin: 10px 0;
        width: 100%;
    }

    .primary-title {
        font-size: 1rem;
        text-align: center;
    }

    .img-logo {
        width: 70%;
        height: 16vh;
        background-size: cover;
    }

    .pokemon-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 10px;
    }

    .img-container {
        width: 100%;
        height: 90vh;
    }
    .search-box {
        width: 90%;
        font-size: 0.8rem;
    }

    .input-style {
        width: 70%;
        height: 3rem;
        font-size: 1rem;
        padding: 0 0.8rem;
    }

    .input-style::placeholder {
        font-size: 0.7rem;
    }

    .btn-search {
        width: 30%;
        font-size: 0.5rem;
    }
    .btn-search:hover {
        transform: none;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .p-error-msg,
    .p-info {
        font-size: 1rem;
    }

    .p-info {
        justify-content: center;
        line-height: 1.3rem;
        font-weight: bold;
    }
}
